---
import { ClientRouter } from "astro:transitions";
---

<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="utf-8" />
  <meta name="description" content="Игра в виселицу" />
  <!-- Favicon -->

  <meta name="apple-mobile-web-app-title" content="Hangman" />
  <meta name="application-name" content="Hangman" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />

  <!-- Open graph -->
  <meta property="og:title" content="Hangman" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="ru_Ru" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="400" />

  <title>Hangman</title>

  <ClientRouter />
</head>
