---
import Head from "@components/head.astro";
---

<!doctype html>
<html lang="ru" transition:name="root" transition:animate="fade">
  <Head />
  <body>
    <div id="root">
      <slot />
    </div>
  </body>
</html>
